{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="contact-us-header">
    <div class="image-container">
        <img src="https://cdn11.bigcommerce.com/s-ngh35wij02/images/stencil/original/image-manager/contact-us-header.jpg?t=1675588352" alt="contact us">
    </div>
    <div class="text-container">
        {{#unless theme_settings.hide_contact_us_page_heading }}
            <h1 class="page-heading">{{page.title}}</h1>
        {{/unless}}
    </div>
</div>
<div class="contact-us-body">
    <div class="container">
        <section class="page">
            {{#if page.sub_pages}}
                <nav class="navBar navBar--sub">
                    <ul class="navBar-section account-navigation">
                        {{#each page.sub_pages}}
                            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
            {{/if}}
        
            <div id="contact-us-page" class="page-content">
                <div class="custom-row">
                    <div class="col-md-6">
                        <h2 class="page-heading">Keep in touch with <span class="red-text"> Us </span> </h2>
                        {{#if forms.contact.success}}
                            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
                        {{else}}
                            <p>{{{page.content}}}</p>
                            {{> components/page/contact-us-form}}
                        {{/if}}
                    </div>
                    <div class="col-md-6">
                        <div class="contact-us-block">
                            <h2 class="page-heading text-left">Contact Information</h2>
                            <ul>
                                <li>
                                    <a href="mailto:info@gatcrank.com">
                                        <img src="https://cdn11.bigcommerce.com/s-ngh35wij02/images/stencil/original/image-manager/icons8-mail-50-1.png?t=1675591758" class="lazyload" alt="email"> <span>info@gatcrank.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/GatCrankTX" class="social-link">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 0C8.955 0 0 9.00113 0 20.103C0 30.1813 7.38667 38.504 17.01 39.9581V25.4303H12.0617V20.1466H17.01V16.6302C17.01 10.8087 19.8317 8.25397 24.645 8.25397C26.95 8.25397 28.17 8.42652 28.7467 8.50358V13.1156H25.4633C23.42 13.1156 22.7067 15.0639 22.7067 17.2584V20.1466H28.695L27.8833 25.4303H22.7067V40C32.4683 38.6698 40 30.2802 40 20.103C40 9.00113 31.045 0 20 0Z" fill="white"/>
                                        </svg>
                                        <span class="visually-hidden">facebook</span>
                                    </a>
                                    <a href="https://www.instagram.com/gatcrank/" class="social-link">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.8182 0C5.2983 0 0 5.2983 0 11.8182V28.1818C0 34.7017 5.2983 40 11.8182 40H28.1818C34.7017 40 40 34.7017 40 28.1818V11.8182C40 5.2983 34.7017 0 28.1818 0H11.8182ZM30.9091 7.27273C31.9105 7.27273 32.7273 8.08949 32.7273 9.09091C32.7273 10.0923 31.9105 10.9091 30.9091 10.9091C29.9077 10.9091 29.0909 10.0923 29.0909 9.09091C29.0909 8.08949 29.9077 7.27273 30.9091 7.27273ZM20 10C25.5185 10 30 14.4815 30 20C30 25.5185 25.5185 30 20 30C14.4815 30 10 25.5185 10 20C10 14.4815 14.4815 10 20 10ZM20 11.8182C15.4901 11.8182 11.8182 15.4901 11.8182 20C11.8182 24.5099 15.4901 28.1818 20 28.1818C24.5099 28.1818 28.1818 24.5099 28.1818 20C28.1818 15.4901 24.5099 11.8182 20 11.8182Z" fill="white"/>
                                        </svg>                                        
                                        <span class="visually-hidden">instagram</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
        
            </div>
        
        </section>

    </div>
</div>


{{/partial}}

{{> layout/base}}
<script>
    var containerEl =  document.querySelector('#container');
    containerEl.classList.remove('container');
</script>
