{{#partial "page"}}
<h1>{{lang 'sitemap.page_title'}}</h1>

<ul>
    <li>
        <h2>Home</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com">Home</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>FAQ</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/faq/">FAQ</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Installation</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/install/">Installation</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Dealer Inquiry</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/dealer-inquiry/">Dealer Inquiry</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Affiliate Portal</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/affiliate-portal/">Affiliate Portal</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Contact</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/contact/">Contact</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Warranty</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/warranty/">Warranty</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Shop</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/shop">Shop</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Gatcrank Turbo</h2>
        <ul>
            <li>
                <a href="https://www.gatcrank.com/gatcrank-turbo/">Gatcrank Turbo</a>
                <ul>
                    <li>
                        <a href="https://www.gatcrank.com/gatcrank-turbo-xl/">Gatcrank Turbo XL</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
{{/partial}}
{{> layout/base}}
